:root {
  --c-black: #000;
  --c-white: #fff;
  --c-red: #FF2A00;
  --c-blue: #00A3FF;
  --c-gray: #A0A0A0;
}

body {
  line-height: 1.25;
}
main.narrow {
  width: 1024px;
  margin: 0 auto;
}
h1, h2 {
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 1em;
}
a {
  color: var(--c-black);
}

/* typography */

.t-sans { 
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; 
}
.t-serif { 
  font-family: Times, "Times New Roman", serif; 
}
.t-b {
  font-weight: bold;
}
.t-s { 
  font-size: 14px 
}
.t-m { 
  font-size: 16px 
}
.t-l { 
  font-size: 21px 
}
.t-xl {
  font-size: 72px;
  line-height: 0.9;
  letter-spacing: -0.005em;
}
.t-center {
  text-align: center;
}

/* margins, paddings, borders */

.p-1 { padding: 1em; }
.p-2 { padding: 2em; }
.p-4 { padding: 4em; }
.ph-1 { padding-left: 1em; padding-right: 1em; }
.ph-2 { padding-left: 2em; padding-right: 2em; }
.ph-4 { padding-left: 4em; padding-right: 4em; }
.pv-1 { padding-top: 1em; padding-bottom: 1em; }
.pv-2 { padding-top: 2em; padding-bottom: 2em; }
.pv-4 { padding-top: 4em; padding-bottom: 4em; }
.pt-1 { padding-top: 1em; }
.pt-2 { padding-top: 2em; }
.pt-4 { padding-top: 4em; }
.pb-1 { padding-bottom: 1em; }
.pb-2 { padding-bottom: 2em; }
.pb-4 { padding-bottom: 4em; }

.m-1 { margin: 1em; }
.m-2 { margin: 2em; }
.m-4 { margin: 4em; }
.mh-a { margin-left: auto; margin-right: auto; }
.mh-1 { margin-left: 1em; margin-right: 1em; }
.mh-2 { margin-left: 2em; margin-right: 2em; }
.mh-4 { margin-left: 4em; margin-right: 4em; }
.mv-1 { margin-top: 1em; margin-bottom: 1em; }
.mv-2 { margin-top: 2em; margin-bottom: 2em; }
.mv-4 { margin-top: 4em; margin-bottom: 4em; }
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.mt-4 { margin-top: 4em; }
.mb-1 { margin-bottom: 1em; }
.mb-2 { margin-bottom: 2em; }
.mb-4 { margin-bottom: 4em; }

.b-0 { border: none }
.b-1 { border: 1px solid }
.b-t { border-top: 1px solid; }
.b-b { border-bottom: 1px solid; }
.b-l { border-left: 1px solid; }
.b-r { border-right: 1px solid; }

.xb-l-red  { border-left: 8px solid var(--c-red); }
.xb-l-blue { border-left: 8px solid var(--c-blue); }
.xb-l-gray { border-left: 8px solid var(--c-gray); }

/* layout */

.flex {
  display: flex;
  flex-direction: row;
}
.flex-between {
  justify-content: space-between;
}
.flex-grow {
  flex-grow: 1;
}
.flex > div {
  flex: 0 1 auto;
}

/* components */

nav {
  height: 3.25em;
  line-height: 3.25em;
}
nav a {
  text-decoration: none;
}

aside {
  width: 360px;
}

article {
  max-width: 840px;
}

input, .button {
  display: inline-block;
  border: 1px solid;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.button:hover {
  border: 1px solid var(--c-black);
  background: var(--c-black);
  color: var(--c-white);
}

.box {
  width: 480px;
}
.email {
  width: 220px;
}
.logo-home {
  width: 120px;
}
.logo-nav {
  width: 100px;
  display: inline-block;
  margin-top:7px;
}